<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.fons.cloud.ai.doudou.domain.mapper.AiSessionMapper">

    <select id="selectSessionListWithFirstRecordByUserId"
            resultType="com.fons.cloud.ai.doudou.domain.entity.AiSession">
        SELECT s1.* FROM ai_session s1
        WHERE
            s1.userId = #{userId} AND
            s1.id = (SELECT s2.id FROM ai_session s2 WHERE s2.session_id = s1.session_id ORDER BY s2.create_time ASC LIMIT 1)
        ORDER BY s1.update_time DESC
    </select>
</mapper>